@page "/"
@layout MainLayout

<PageTitle>ReList</PageTitle>

<div>
	<article class="py-[140px]">
		<p class="text-sm">TODO MANAGER</p>
		<div class="relative grid grid-cols-6 grid-rows-2">

			<h2 class="row-start-1 font-bold text-6xl mb-2">AMAZINGLY SYMPLE</h2>
			<p class="row-start-2 col-span-2">
				We designed ReList to be an easy to use, quick to learn and surprisingly powerful.
			</p>

			<img class="absolute h-96 -left-40 -top-20 row-span-2 row-start-1 col-start-4" src="images/345689_1695963242505.png" alt="Cactus" />
			<img class="absolute h-96 left-16 -top-20 row-span-2 row-start-1 col-start-4" src="images/345689_1695963242506.png" alt="Cactus" />
			<img class="absolute h-96 left-56 -top-20 row-span-2 row-start-1 col-start-4" src="images/345689_1695963242507.png" alt="Cactus" />
		</div>

		<a href="/signup" class="border rounded px-4 py-2">TRY IT NOW</a>
	</article>


	<article class="rounded-lg backdrop-blur-md bg-white/30 z-0 w-full h-screen">
		<div class="grid grid-cols-6">
			<div>awdawd</div>
			<div>awdawd</div>
		</div>
	</article>

</div>


