@layout TodosLayout
@page "/todos"

<div class="divide-y flex flex-col gap-4">
	<h3 class="text-3xl">To-Do</h3>
	
	<div class="flex gap-3">
		<button class="border-[1px] hover:bg-indigo-500 rounded-md px-2 py-1 text-sm flex gap-1 bg-indigo-700 text-white">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
			</svg>
			<p>New Task</p>
			</button>
		<button class="border-[1px] rounded-md px-2 py-1 text-sm flex items-center gap-1">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 3c2.755 0 5.455.232 8.083.678.533.09.917.556.917 1.096v1.044a2.25 2.25 0 01-.659 1.591l-5.432 5.432a2.25 2.25 0 00-.659 1.591v2.927a2.25 2.25 0 01-1.244 2.013L9.75 21v-6.568a2.25 2.25 0 00-.659-1.591L3.659 7.409A2.25 2.25 0 013 5.818V4.774c0-.54.384-1.006.917-1.096A48.32 48.32 0 0112 3z" />
			</svg>
			<p>Filters</p>
		</button>
	</div>

	<div class="flex flex-col py-4 gap-3">
		<div>
			<label for="todo" class="grid grid-cols-[16px_300px] gap-2 p-2 border-[1px] hover:border-violet-500 min-h-[70px] w-[700px] rounded-lg font-medium text-gray-900 active:ring-indigo-600">
				<input id="todo" type="checkbox" class="border-[1px] border-slate-200 rounded h-4 w-4 text-indigo-600 focus:ring-indigo-600" />
				<span>Updated UI config</span>
			</label>
		</div>
		<div>
			<label for="todo2" class="grid grid-cols-[16px_300px] gap-2 p-2 border-[1px] hover:border-violet-500 min-h-[70px] w-[700px] rounded-lg font-medium text-gray-900 active:ring-indigo-600">
				<input id="todo2" type="checkbox" class="border-[1px] border-slate-200 rounded h-4 w-4 text-indigo-600 focus:ring-indigo-600" />
				<span>Create backend routes</span>
			</label>
		</div>
		<div class="border min-h-[70px] w-[700px] rounded-lg"></div>
	</div>


</div>

@code {

}

