@inherits LayoutComponentBase

<div class="font-default  bg-center bg-size">
	<div class="sticky top-0 border backdrop-blur-xl bg-white/30 z-50">
		<div class="container">
			<NavMenu />
		</div>
	</div>
	<div class="container">
		@Body
	</div>
</div>

