<div class="flex items-center justify-between py-4">
	<a href="#">FEATURES</a>

	<p>•</p>

	<a href="#">PRICING</a>

	<h1 class="text-3xl font-bold">ReList</h1>

	<a href="#">FAQ</a>

	<p>•</p>

	<a href="#">DOWNLOAD</a>

	@* <ul class="flex w-full justify-between bg-slate-400">
		<li>
			<a href="/">Home</a>
		</li>
		<li>
			<ul class="flex gap-2">
				<li>
					<a href="signin">Sign in</a>
				</li>
				<li>
					<a href="signup">Sign up</a>
				</li>
			</ul>
		</li>
	</ul> *@
</div>

@code {

}
